<!DOCTYPE html>
<html lang="pl">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>MotoSell</title>
</head>
<body>
    {% if pojazdy_wszystkie %}
        {% for pojazd in pojazdy_wszystkie %}
            {% if pojazd.czy_opublikowany and not pojazd.czy_usuniety %}
                <a href="{% url 'pojazdy' pojazd.id %}">
                    <h3>{{ pojazd.tytul }}</h3>
                    <p>Oferta użytkownika: {{ pojazd.uzytkownik.username }}</p>
                    <p>{{ pojazd.marka }} {{ pojazd.model }}</p>
                </a>
                <hr>
            {% endif %}
        {% endfor %}
    {% else %}
        <h1>Nie ma żadnych pojazdów</h1>
    {% endif %}

    <p><a href="{% url 'index' %}">Powrót na stronę główną</a></p>
    {% if request.user.is_authenticated %}
        <p><a href="{% url 'moje_pojazdy' %}">Zobacz swoje oferty</a></p>
    {% endif %}
</body>
</html>
